doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title {{ name }}
  body
    #app
    script.
      const apiUrl = #{htmlWebpackPlugin.options.apiUrl};
    script(src="/bundle/bundle.js", type="text/javascript")
